/* Title */
.title {
    height: 52rem;
    width: auto;
    margin-top: 12rem;
    position: relative;
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
  }
  
  .title img{
    border-radius: 50%;
      -webkit-filter: drop-shadow(1.2rem 1.2rem 0.7rem rgba(19, 209, 51, 0.5));
       filter: drop-shadow(2.5rem 2.5rem 2.5rem rgba(47, 146, 38, 0.5));
    /* border: 0.2rem solid black; */
   opacity: 1rem;
  }
  
  .img1{
      position: absolute;
      top:10rem;
      left: 10rem;
      height:25rem;
      width:25rem; 
  }
  
  .img2{
    position: absolute;
    top: 5rem;
    left: 38rem;
    height:20rem;
    width:20rem;
  }
  .img3{
    position: absolute;
    left: 35rem;
    top:28rem;
    height:18rem;
    width:18rem;
  }
  
  
  .title h1 {
    border-radius: 6rem;
    box-shadow: 1.5rem 1.5rem 2rem #00b894;
    text-align: center;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    font-size: 6rem;
    font-family: 'Crimson Text', serif;
    position: absolute;
    top: 6rem;
    margin-top: 4rem;
    font-weight: 120rem;
    -webkit-text-stroke: 0.2rem black;
      -webkit-text-fill-color:#00b894;
  }
  
  .title h3 {
    position: absolute;
    left:20%;
    top: 24rem;
    color:#626262;
    font-size: 4rem;
    font-family: "Akaya Kanadaka", cursive;
    text-align: center;
    
  }
  

  